/* common style */
*{
    margin-left: 5px;
    padding:0 ;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f3f1ff;
    
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

hr{
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid blueviolet;
    width: 870px;
}




/* top players style */

.container{
    background-color: #fff;
    width: 870px;
    padding: 30px;
    margin-top: 21px;
    margin-left: 80px;
    
}

.title{
    color: rgb(20, 43, 172);
    font-size: 24px;
    margin-bottom:15px ;
}
.players{
    display: grid;
    grid-row-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

.player{
    display: flex;
    align-items: center;
    
}
.name{
    margin-left: 10px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
}
.player img{
    width: 56px;
    height: 56px;
}




/* top blog */



.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
}


.blog{
    display: flex;
}

.blog a{
    text-decoration: none;
}

.blog .info{
    margin-left: 16px;

}

.blog-title{

    margin-top: 10px;
    font-size: 15pxpx;
} 

.author{
    margin-top: 20px;
    font-size: 16px;
    color: gray;
}

.blog .thumbnail img{
    height: 117px;
    width: 117px;
}




/* Courses starts */

.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr );
    grid-column-gap: 35px;
}


.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course .course-banner img{
    width: 224px;
    height: 104px;
}

.fa-star.filled{
    color: rgb(223, 220, 61);
}

.fa-star.empty{
    color: rgb(212, 212, 212);
}

.course-duration{
    background-color: rgb(197, 155, 155);
    color: crimson;
    padding: 5px;
    border-radius: 15px;
}







/*----------
 responsive 
 ----------*/


/* mobile */

@media only screen and (max-width:688px){

    .container{
        width: 100%;
    }
    .players, .blogs, .courses{

        grid-template-columns: repeat(1, 1fr);

    }
    .player, .blog{
        flex-direction: column;
    }

}

/* Tablet */

@media only screen and (min-width:688px) and (max-width:768px){
    .container{
        width: 100%;
    }
    .players, .blogs, .courses{

        grid-template-columns: repeat(2, 1fr);

    }
    .player, .blog{
        flex-direction: column;
    }
}


